.content {

    .title {
        font-size: 30px;
        color: white;
        font-weight: 500;
        padding-top: 30px;

        .title1 {
            text-align: center;
        }
        
    }
    .download {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
        .img1 {
           margin-top: 20px;
        }
        .img2 {
            margin-top: 9px;
        }

    }

    .sections {
        margin-top: 200px;
    }

    .camNang {
        margin-top: 80px;
        height: 300px;
    }
    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 1;
        animation-name: slideInLeft;
        animation-duration: 0.5s;
      }
      
      .modal-content {
        background-color: white;
        width: 50%;
        margin: 0 auto;
        padding: 20px;
      }
      
      @keyframes slideInLeft {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0%);
        }
      }
      
    
}