.service {
    height: 325px;
    border-bottom: 1px solid #cccccc;
    margin: 70px 30px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .select {
        width: 200px;
        img {
            height: 111px;
            width: 200px;
        }
        .tieu-de {
            font-weight: bold;
            font-size: 14px;
        }
        .content {
            margin-top: 10px;
            font-size: 12.8px;
        }
        .details {
            margin-top: 10px;
            cursor: pointer;
            color: rgb(64, 181, 173);
        }
        .details:hover{
            color: rgba(64, 181, 173, .7);
        }
    }
}